#drawing-button {
    -fx-font: 25px "Century Gothic";
    -fx-padding: 30px;
    -fx-border-radius: 25px;
    -fx-background-color: #007d43;
    -fx-text-fill: white;
}
#custom-button{
    -fx-font: 20px "Century Gothic";
    -fx-padding: 15px;
    -fx-border-radius: 50px;
    -fx-background-color: #007d43;
    -fx-text-fill: white;
    -fx-max-width: 10000
}
#custom-button:hover, #drawing-button:hover{
    -fx-background-color: #004d26;
}
#winner{
    -fx-text-fill: black;
    -fx-font: 80px "Century Gothic";
    -fx-text-alignment: center;

    -fx-stroke: 10px;
}
.text-field {
    -fx-max-width: 150px;
}
#h1{
    -fx-alignment: center;
    -fx-font-size: 35px;
}
#h2{
    -fx-font-size: 20px;
}
#black-background{
    -fx-background-color: black;
}
#remaining{
    -fx-font: 20px "Century Gothic";
    -fx-text-fill: white;
}
#loadingPane{
    -fx-background-color: #282828;
}
#progressBar{
    -fx-min-width: 900px;
    -fx-border-radius: 50px;
    -fx-border-color: black;
    -fx-border-width: 5;
    -fx-background-color: #282828;
}
#topBar{
    -fx-background-color: #282828;
    -fx-pref-height: 50px;
}

.tab-pane{
    -fx-font-size:  13px;
    -fx-font-family: "Century Gothic";
}
